/* dashboard.component.css */
.dashboard-layout {
    display: flex;
    flex-direction: row;
    /* Align side-by-side */
    align-items: flex-start;
    /* Align at the top */
    width: 100%;
    /* Full width */
}

.rentals-list {
    flex: 1;
    /* Take necessary space, but allow flexibility */
    overflow-y: auto;
    /* Scroll if content is too tall */
    margin-right: 5px;
    /* Space between list and details */
}

app-details {
    flex: 1;
    /* Take up remaining space */
    /* Ensure it's directly targeted, assuming 'app-details' is your component selector */
}

.rental-details {
    width: 50%;
    /* Half of the container width for the details */
}

.card {
    display: flex;
    flex-direction: row;
    /* Display content inside card horizontally */
    align-items: center;
    /* Center items vertically */
    border: 1px solid #e0e0e0;
    padding: 1px;
    margin-bottom: 10px;
    /* Space between cards */
    border-radius: 4px;
}

.rental-info {
    display: flex;
    flex-direction: row;
    /* Align children horizontally */
    justify-content: space-between;
    /* Space out the child elements evenly */
    align-items: center;
    /* Align items vertically in the center */
    width: 100%;
    /* Full width of its container */
    gap: 10px;
    /* Add space between items, adjust as needed */
}

.rental-info p {
    margin: 0;
    /* Remove default margins to tighten space */
    padding: 0;
    /* Adjust padding as needed */
    white-space: nowrap;
    /* Prevent wrapping to keep items aligned */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Use ellipsis for overflow */
}

.rental-image {
    width: auto;
    max-width: 100%;
    max-height: 200px;
    margin-right: 10px;
    /* Space next to the text */
    border-radius: 4px;
}

.status-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    /* Fixed width for the status box */
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
    /* Space from the last element */
}

.green {
    background-color: #4CAF50;
}

.yellow {
    background-color: #FFEB3B;
}

.red {
    background-color: #FF5722;
}

@media (max-width: 1600px) {

    /* Adjust layout for smaller screens */
    .dashboard-layout {
        flex-direction: column;
    }

    .rentals-list,
    .rental-details {
        width: 100%;
        /* Use full width for smaller screens */
        margin-right: 0;
        /* Reset the margin as they're now stacked */
    }

    .card {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
    }
}