<!-- dashboard.component.html -->
<div class="container">
  <!-- List rentals horizontally -->
  <div class="rentals-container">
    <div
      *ngFor="let rental of rentals"
      (click)="viewDetails(rental)"
      class="card"
    >
      <div class="rental-info">
        <p><strong>Lease Id: </strong>{{ rental.id }}</p>
        <p><strong>Lot Number:</strong> {{ rental.lotNumber }}</p>
        <p>
          <strong>Lease Holder:</strong> {{ rental.leaseHolderFirstName }}
          {{ rental.leaseHolderLastName }}
        </p>
      </div>
      <div
        [ngClass]="{
          green: rental.paymentStatus === 'up-to-date',
          yellow: rental.paymentStatus === 'late',
          red: rental.paymentStatus === 'delinquent'
        }"
        class="status-box"
      >
        <!-- Display based on paymentStatus -->
        <ng-container
          *ngIf="rental.paymentStatus === 'up-to-date'; else notUpToDate"
        >
          Up to Date
        </ng-container>
        <ng-template #notUpToDate>
          <ng-container
            *ngIf="rental.paymentStatus === 'late'; else delinquent"
          >
            Late
          </ng-container>
        </ng-template>
        <ng-template #delinquent> delinquent </ng-template>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="makePayment($event, rental)"
      >
        Pay Now
      </button>
    </div>
  </div>

  <!-- Container for details component -->
  <div class="details-container">
    <app-details *ngIf="selectedRental" [rental]="selectedRental"></app-details>
  </div>
</div>
