/* dashboard.component.css */
.dashboard-container {
    display: flex;
}

.rentals-container {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.rental-card {
    flex-basis: calc(50% - 20px);
    /* Two items per row with some spacing */
    margin: 10px;
    background-color: #f0f0f0;
    padding: 10px;
}

.rental-info {
    margin-bottom: 10px;
}

.status-box {
    margin-bottom: 10px;
}

.details-container {
    flex: 1;
    padding: 10px;
}