<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Add any additional CSS or JS you need here -->
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <div>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>
        </div>

        <div>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>


    </form>
</body>
</html>
