<!-- global-settings-modal.component.html -->
<div class="global-settings-modal">
    <div class="modal-header">
        <h5 class="modal-title">Global Settings</h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="updateSettings()">
            <div class="form-group">
                <label for="dueDate">Due Date</label>
                <input type="number" class="form-control" id="dueDate" [(ngModel)]="globalSettings.due_date"
                    name="dueDate" max="30" required>
            </div>
            <div class="form-group">
                <label for="gracePeriod">Grace Period</label>
                <input type="number" class="form-control" id="gracePeriod" [(ngModel)]="globalSettings.grace_period"
                    name="gracePeriod" max="30" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Settings</button>
        </form>
    </div>
</div>