<div mat-dialog-content>
  <div *ngIf="!unoccupiedLotsAvailable" class="alert alert-warning">
    Warning: No unoccupied lots are available. You cannot create a new lease at this time.
  </div>
  <form [formGroup]="leaseForm" (ngSubmit)="onSubmit()">
    <!-- Lot Selector -->
    <div>
      <label for="lot">Select Lot:</label>
      <select formControlName="lot">
        <option *ngFor="let lot of availableLots" [value]="lot.id">
          {{ lot.lot_number }}: {{ lot.lot_address }}
        </option>
      </select>
    </div>

    <!-- LeaseHolder Details -->
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="lease_holder_first_name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lease_holder_last_name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Address" formControlName="lease_holder_address" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone" />
    </mat-form-field>

    <!-- Lease Agreement Upload -->
    <div class="file-input-container">
      <label>Upload Lease Agreement</label>
      <input type="file" (change)="onFileSelected($event, 'lease_agreement_file')" hidden #fileInputLease />
      <button mat-raised-button color="accent" type="button" (click)="fileInputLease.click()">
        <mat-icon>attach_file</mat-icon> Choose File
      </button>
      <div class="file-drop-zone" (dragover)="$event.preventDefault()"
        (drop)="handleDrop($event, 'lease_agreement_file')">
        <p *ngIf="!selectedLeaseFile" class="file-drop-instruction">
          Drag & Drop your file here or click to select
        </p>
        <p *ngIf="selectedLeaseFile" class="file-name-display">
          {{ selectedLeaseFile.name }}
        </p>
      </div>
    </div>

    <!-- Lot Image Upload -->
    <div class="file-input-container">
      <label>Upload Lot Image</label>
      <input type="file" (change)="onFileSelected($event, 'lot_image_file')" hidden #fileInputLot />
      <button mat-raised-button color="accent" type="button" (click)="fileInputLot.click()">
        <mat-icon>attach_file</mat-icon> Choose File
      </button>
      <div class="file-drop-zone" (dragover)="$event.preventDefault()" (drop)="handleDrop($event, 'lot_image_file')">
        <p *ngIf="!selectedLotImage" class="file-drop-instruction">
          Drag & Drop your file here or click to select
        </p>
        <p *ngIf="selectedLotImage" class="file-name-display">
          {{ selectedLotImage.name }}
        </p>
      </div>
    </div>

    <button mat-button type="submit">Add Leasee</button>
  </form>
</div>