<!-- add-leasee.component.html -->
<div mat-dialog-content>
  <form [formGroup]="leaseForm" (ngSubmit)="onSubmit()">
    <!-- Lot Selector -->
    <div>
      <label for="lot">Select Lot:</label>
      <select formControlName="lot">
        <!-- Change 'lot.lotId' to 'lot.id' or whatever the identifier property is named in your Lot model -->
        <option *ngFor="let lot of availableLots" [value]="lot.id">
          {{ lot.lot_number }}: {{ lot.lot_address }}
        </option>
      </select>
    </div>

    <!-- LeaseHolder Details -->
    <mat-form-field>
      <input
        matInput
        placeholder="First Name"
        formControlName="lease_holder_first_name"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Last Name"
        formControlName="lease_holder_last_name"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Address"
        formControlName="lease_holder_address"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone" />
    </mat-form-field>

    <!-- Lease Agreement Upload -->
    <div class="file-input-container">
      <label>Upload Lease Agreement</label>
      <input
        type="file"
        (change)="onFileSelected($event, 'lease')"
        hidden
        #fileInputLease
      />
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="fileInputLease.click()"
      >
        <mat-icon>attach_file</mat-icon> Choose File
      </button>
      <div
        class="file-drop-zone"
        (dragover)="$event.preventDefault()"
        (drop)="handleDrop($event, 'lease')"
      >
        <p *ngIf="!selectedLeaseFile" class="file-drop-instruction">
          Drag & Drop your file here or click to select
        </p>
        <p *ngIf="selectedLeaseFile" class="file-name-display">
          {{ selectedLeaseFile.name }}
        </p>
      </div>
    </div>

    <!-- Lot Image Upload -->
    <div class="file-input-container">
      <label>Upload Lot Image</label>
      <input
        type="file"
        (change)="onFileSelected($event, 'lot')"
        hidden
        #fileInputLot
      />
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="fileInputLot.click()"
      >
        <mat-icon>attach_file</mat-icon> Choose File
      </button>
      <div
        class="file-drop-zone"
        (dragover)="$event.preventDefault()"
        (drop)="handleDrop($event, 'lot')"
      >
        <p *ngIf="!selectedLotImage" class="file-drop-instruction">
          Drag & Drop your file here or click to select
        </p>
        <p *ngIf="selectedLotImage" class="file-name-display">
          {{ selectedLotImage.name }}
        </p>
      </div>
    </div>

    <!-- Add other form controls as necessary -->

    <button mat-button type="submit">Add Leasee</button>
  </form>
</div>
