body {
    font-family: Arial, sans-serif;
}

.card {
    width: 100%;
    max-width: 400px;
    /* optimized for mobile, but won't stretch too wide on tablets or desktop */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #0056b3;
}

.rental-detail-card,
.lot-image-card,
.payment-entry-card {
    margin-bottom: 20px;
    max-width: 600px;
    /* to ensure it doesn't stretch too wide on larger screens */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.lease-agreement {
    margin-top: 20px;
}

input:not([readonly]) {
    color: #0077cc;
    /* Different color for editable fields */
}

input:focus {
    color: black;
    /* Color when the field is focused */
}

.rental-image {
    max-width: 100%;
    /* ensures the image doesn't stretch wider than its container */
    max-height: 400px;
    /* limits the image's height */
    width: auto;
    /* maintains the aspect ratio */
    height: auto;
    /* maintains the aspect ratio */
    object-fit: contain;
    /* ensures the image keeps its aspect ratio while being contained within the given dimensions */
}

.days-past-due {
    font-weight: bold;
    /* Makes the text bold */
    color: red;
    /* Sets the text color to red */
    font-size: 1.2em;
    /* Increases the font size */
}