/* Global styles */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: #333;
    color: white;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.navbar-form label {
    margin-bottom: 0;
}

.navbar-form input {
    margin-right: 5px;
}

.hamburger-btn {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

/* Mobile view */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .hamburger-btn {
        display: block;
        /* Make the hamburger button visible on small screens */
    }

    .navbar-brand,
    .navbar-menu {
        text-align: center;
    }

    .navbar-menu {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-item {
        margin-right: 0;
    }

    .navbar-form {
        display: none;
        /* navbar-form is hidden by default on small screens */
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        gap: 20px;
    }

    .navbar-form.active {
        display: flex;
        /* navbar-form is shown when it has the 'active' class */
    }

    .navbar-form input,
    .navbar-form select,
    .navbar-form button {
        width: calc(100% - 20px);
        margin-bottom: 10px;
    }

    .navbar-form label {
        align-self: flex-start;
        width: 100%;
        margin-bottom: 5px;
    }
}

/* Show form and menu when active, applicable to all screen sizes */
.navbar-form.active,
.navbar-menu.active {
    display: flex;
}