<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-brand">Lease Manager</div>

  <!-- Hamburger menu button -->
  <button (click)="toggleMenu()" class="hamburger-btn">
    &#9776;
    <!-- Unicode character for the hamburger icon -->
  </button>

  <div class="navbar-menu" [ngClass]="{ active: menuActive }">
    <a routerLink="/dashboard" class="navbar-item">Dashboard</a>
    <a routerLink="/reports" class="navbar-item">Reports</a>
    <a routerLink="/manage" class="navbar-item">Manage Details</a>
    <a
      href="http://leasemanage-env.eba-kc4p6z6r.us-east-2.elasticbeanstalk.com/api/admin/"
      target="_blank"
      class="navbar-item"
      >Database</a
    >
    <button (click)="openGlobalSettingsModal()">Global Settings</button>
    <button (click)="logout()">Logout</button>
  </div>
</nav>
