<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-brand">Lease Manager</div>
  <div class="navbar-menu">
    <a routerLink="/dashboard" class="navbar-item">Dashboard</a>
    <a routerLink="/reports" class="navbar-item">Reports</a>
  </div>

  <div class="navbar-form">
    <h3>Default Settings:</h3>
    <label>
      Due Day:
      <select
        [(ngModel)]="updatedGlobalDefault.dueDay"
        (ngModelChange)="onDueDayChange($event)"
      >
        <option *ngFor="let day of daysInMonth" [value]="day">{{ day }}</option>
      </select>
    </label>
    <label>
      Late Fee:
      <input type="number" [(ngModel)]="updatedGlobalDefault.lateFee" />
    </label>
    <label>
      Days Late:
      <input type="number" [(ngModel)]="updatedGlobalDefault.daysLate" />
    </label>
    <label>
      Day Delinquent:
      <input type="number" [(ngModel)]="updatedGlobalDefault.dayDelinquent" />
    </label>
    <button (click)="saveUpdates()">Save</button>
  </div>
</nav>
