<!-- navbar.component.html -->
<nav class="navbar">
  <a routerLink="/dashboard">
    <div class="navbar-brand">Lease Manager</div>
  </a>

  <!-- Hamburger menu button -->
  <button (click)="toggleMenu()" class="hamburger-btn">
    &#9776;
    <!-- Unicode character for the hamburger icon -->
  </button>

  <div class="navbar-menu" [ngClass]="{ active: menuActive }">
    <a routerLink="/dashboard" class="navbar-item"><i class="material-icons">home</i> Dashboard</a>
    <a routerLink="/reports" class="navbar-item"><i class="material-icons">assessment</i> Reports</a>
    <a routerLink="/manage" class="navbar-item"><i class="material-icons">settings</i> Manage Details</a>
    <a href="http://leasemanager-env.us-east-1.elasticbeanstalk.com/api/admin/" target="_blank" class="navbar-item"><i
        class="material-icons">storage</i> Database</a>
    <button (click)="openGlobalSettingsModal()"><i class="material-icons">build</i> Global Settings</button>
    <button (click)="logout()"><i class="material-icons">logout</i> Logout</button>
  </div>
</nav>